.card {
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 450/635;
  margin: 0 auto;
  background-image: url('/assets/images/card-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #31333f;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-area {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 73%;
  height: 43%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
}

.image-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-area {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 10px;
}

.info-field {
  margin-bottom: 10px;
  padding: 8px;
  background: transparent;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 4px;
  font-size: 18px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.season-text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .card {
    max-width: 280px;
  }
}
  