/* Add these at the top of the file */
html, body {
    margin: 0;
    padding: 0;
    background-color: #31333f;  /* Light grey background */
    min-height: 100vh;
  }
    
  /* General application styles */
  #app {
      font-family: Arial, sans-serif;
      background-color: #31333f;
      min-height: 100vh;
    }
    
    /* Active link styling */
    .active {
      background-color: #0056b3;
      color: white;
    }
    
    /* Right-aligned navbar items */
    .ml-auto {
      margin-left: auto;
    }
    
    /* Main content container */
    .container {
      margin-top: 20px;
      padding: 20px;
      max-width: 100%;
      background-color: #31333f;
      border-radius: 8px;
      /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    }
    